ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a000a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e6faff;
    color: #1a000a;
}

.active {
    background-color: #00af28;
}

/*margin navbar*/
#navbar-margin{
    margin-bottom: 0.5%;
}
#navbar-right{
    padding-left: 50px;
    margin: 0px;
}